{% extends "expenses/base.html" %}

{% block body %}
<h3 class="m-4">{{ month }}'s Expenses</h3>
                <div class="row">
                    <div class="col-12">
                        {% if expenses %}
                            <div class="card bg-light ms-4 me-4 mb-4">
                                <div class="card-header">
                                    <i class="fa-solid fa-money-bill fa-lg"></i> Expenses
                                </div>
                                <div class="card-body">
                                <p class="card-text">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                              <tr>
                                                <th scope="col">Status</th>
                                                <th scope="col">Due</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Payer</th>
                                                <th scope="col">Actions</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                {% for expense in expenses %}
                                                <tr style="vertical-align: middle;" class="{% if expense.paid %}strikeout{% endif %}">
                                                  <td>
                                                    <a href="{% url 'toggle_status' expense.id %}">
                                                    <button type="button" class="btn btn-outline-primary">
                                                      <i class="fa-solid fa-money-bill-transfer fa-lg"></i>
                                                    </button>
                                                    </a>

                                                  </td>
                                                  <td>{{ expense.date_due|date:'Y-m-d' }}</td>
                                                  <td>{{ expense.name }}</td>
                                                  <td>{{ expense.payer }}</td>
                                                  <td>
                                                      <button type="button" class="btn btn-outline-dark me-1" href="{% url 'view_expense' expense.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{expense.id}}">
                                                        <i class="fa-solid fa-circle-info fa-lg"></i>
                                                      </button>
                                                      <!-- Modal - View Expense -->
                                                      <div class="modal" id="myModal{{expense.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                              <h5 class="modal-title">
                                                                Expense: {{ expense.name }}
                                                              </h5>
                                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true"></span>
                                                              </button>
                                                            </div>
                                                            <div class="modal-body">
                                                              <ul class="list-unstyled">
                                                                <li>Status: 
                                                                  <strong>
                                                                  {% if expense.paid %}
                                                                  Paid
                                                                  {% else %}
                                                                  Not Paid
                                                                  {% endif %}
                                                                  </strong>
                                                                </li>
                                                                <li>Payer: <strong>{{ expense.payer }}</strong></li>
                                                                <li>Due Date: <strong>{{ expense.date_due|date:'Y-m-d' }}</strong></li>
                                                              </ul>
                                                            </div>
                                                            <div class="modal-footer">
                                                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                {% endfor %}
                                            </tbody>
                                          </table>
                                    </div>
                                </p>
                                </div>
                            </div>
                        {% else %}
                            <h5 class="alert alert-primary ms-4 me-4">No Expenses Logged</h5>
                        {% endif %}
                    </div>
                </div>
{% endblock %}